@import "../../index.scss";


.home {
  background: url("../../images/mount.jpg") no-repeat center center fixed;
  background-size: cover;
  ;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  font-size: 10rem;
  font-family: "Roboto", sans-serif;
  // margin: 0rem;
  // width: 100%;
  height: calc(100vh - 90px);

  .title {
    padding-left: 1rem;
    text-shadow: 0.2px 0.1px 2px black;
    font-family: 'Bad Script', cursive;
    margin: 0;
    font-size: 100%;
    height: 0rem;
    width: 100%;

    color:$oats;
    justify-content: center;
    padding-bottom: 0rem;
  }

  .subtitle {
    font-family: 'BenchNine', sans-serif;
    font-size: 2.3rem;
    text-shadow: 0.2px 0.1px 3px $oats;
    color: $black;
    margin-bottom: 0rem;
    margin-left: 0.5rem;

  }
   
  p {
    margin-top: 17rem;
    padding-top: 0rem;
  }
   
  .selectors {
 text-shadow: 0.2px 0.1px 2px black;
    width: auto;
    padding: 0rem;
    margin-top: 0rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column-reverse;
    font-size: 3rem;
    color: white;

  }
}
