@import "../../index.scss";
@import "../Button.scss";
@import "../CheckBox.scss";

$checkbox-size: 4.5rem;
$checkbox-border: #cecece;
$checkbox-selected: #02BB72; // Primary colour


.body {
  display: flex;
  background-color: black; 
  font-family: "Roboto", sans-serif;
}

form {
  height: calc(100vh - 90px);
}
// Variables
.checkbox{
  position: absolute;
  opacity: 0;
  
  // Text
  & + label{
    display: inline-block;
    position: relative;
    cursor: pointer;
    line-height: $checkbox-size;
    padding-left: $checkbox-size + 10;
    font-size: $checkbox-size - 2;
    font-family: sans-serif;
    color: #666; // Label colour
    
    // Checkbox
    &:before{
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      content: "";
      background: transparent;
      width: $checkbox-size;
      height: $checkbox-size;
      
      box-shadow: inset 0 0 0 1px $checkbox-border;
      border-radius: 4px;
      transition: 200ms ease-in-out all;
    }
    
    // Tick
    &:after{
      position: absolute;
      display: block;
      top: 0rem;
      left: 1rem;
      bottom: 1rem;
      content: "";
      width: 2rem;
      height: 3rem;
      border-right: 1px solid transparent;
      border-bottom: 1px solid transparent;
      transform: rotate(45deg);
      
      transition: 200ms ease-in-out all;
    }
  }
  
  // Hover
  & + label:hover{
    color: #333;
  }
  
  // Focus
  & + label:focus{
    outline: none;
  }
  
  // Checked
  &:checked{
    & + label{
      &:before{
        background: $checkbox-selected;
        box-shadow: none;
      }
      &:after{
        border-color: white;
      }
    }
  }
  
  // Disabled
  &:disabled{
    & + label{
      &:before{
        background: #f2f2f2; // Disabled colour
        box-shadow: none;
      }
      &:after{
        border-color: transparent;
      }
    }
  }
  
  // Disabled Checked
  &:checked:disabled{
    & + label{
      &:before{
        background: #f2f2f2;
        box-shadow: none;
      }
      &:after{
        border-color: #cecece;
      }
    }
  }
}

// Additional demo styling
.form-checkbox{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // position: relative;
  display: block;
  margin: 0 0 15px;
  padding: 0.2rem;
}
.demo{
  background-color: $oats;
  display: block;
  width: 30rem;
  margin: 3rem auto;
  padding: 6rem;
  height: 25rem;
  border: 1px solid $checkbox-border;
  border-radius: 10px;
}

.form_label {
  font-size: 1.5rem;
}

.answer_options {

}



