@import "styles/variables.scss";
@import "sass/materialize.scss";

$font-stack: Roboto, sans-serif;
// , regular, 24
$primary-color: $light;

body {
  font-family: $font-stack;
  color: $dark;
  background-color: $primary-color;

}

.nav-wrapper {
  background: $dark;
}

.home-page {
  // background: url("../images/lh.jpg") no-repeat center fixed;
  background: url("../images/Pcove.jpg") no-repeat center center;
  background-size: cover;
  // margin-bottom: 5em;
  .container {
    color: white;
  }
  h3 {
    text-decoration: none;
  }
}

.banner {
  // background: url("../images/lh.jpg") no-repeat center fixed;
  background: url("../images/fairmont.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 75vh;
  .container{
    background-color: $dark80;
    

  }
}
