@import "styles/variables.scss";
// @import "styles/reset.scss";
// @import "styles/mixins.scss";

$font-stack: Roboto;
// , regular, 24
// Font sizes
$bannerHeading: 2.6rem;
$sectionHeading: 1.5rem;
body {
  margin: 0;
}

html {
  background: url("../images/mount.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}