@import "../index.scss";

.card {
  background: $oats;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 15px;
  flex: 1 100%;
  text-align: right;
}

.card-image {
  flex-grow: 1; 
  justify-content: space-between;
  flex-direction: row;
}

.card-info {
  flex-grow: 1;
}

.card h2 {
  font-weight: bold;
}

.card p {
  font-size: 80%;
}

.card-info Link {
  outline: 1;
  padding: 12px;
  color: $maroon; 
  font-size: 18px;
}

.card Link:hover {
  opacity: 0.7;
}