@import "../index.scss";


.page-footer {
  font-family: Roboto, sans-serif;
  background-color: $black ;
  color: $oats;
  display: flex;
  flex-direction: row;
	justify-content: space-between;
  position: inherit;
  width: 100%;
  height: inherit;

  padding-left: 0rem;
  padding-right: 0rem;
  padding-top: 0rem;
	bottom: 0.8rem;

  div {
    width: 33%;
  }


  p {
    padding-top: 0.8rem;
    font-size: 0.9rem;
  }

  .app-name {
    margin: 0rem;
    font-size: 1.3em;
    padding-top: 0rem;

  }
 

  //  .container {
  //    display: flex;
  //    flex-direction: row;
  //    justify-content: space-evenly;
  //  }

  //  .footer-copyright {
  //    display: flex;
  //    justify-content: flex-start;
  //    padding: 1em;
  //    font-size: 0.7em;
  //    width: 33%;
  //    background-color: $navy80;
  //    padding-left: 3%;
  //  }
  .right__container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

  }
  .copyright {
    align-self: baseline;
  }

  .connect-title {
     margin-bottom: 0.4rem;

   }
  
  .logo__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .footer__title {
    font-family: 'Bad Script', cursive;
    font-size: 1.9rem;
    padding: 12px 16px;
  }
}