@import "../index.scss"; 

.navbar {
  font-family: "Roboto", sans-serif;
  background: $black;
  color: $oats;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between; 
  position: inherit;
  width: 100%;
  height: inherit;
}

.navbar__title {
  font-family: 'Bad Script', cursive;
  font-size: 1.9rem;
  padding: 12px 16px;
}

.navbar__item {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  font-size: 0.9rem;
  justify-content: space-between;
  padding: 12px;
  color: $oats;
  align-content: initial;; 
}

.span { 
  align-self: inherit;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
