/* VARIABLES */

// Colours
$black: #000;
$navy65: #082e61a8; 
$navy80: #082e61af; 
$navy: #082E61; 
$oats: #FEF5EB;
$maroon: #70161E;
$green-light: #213C44;
$green-dark: #213E44;
$fancy-orange: #F3633F;
$fontSize: 1.3rem;
$lineHeight: 1.5rem;

// Font sizes
$bannerHeading: 3rem;
$sectionHeading: 2rem;