/* VARIABLES */

// Colours
<<<<<<< HEAD
$black: #000;
$navy: #082E61; 
$oats: #FEF5EB;
$maroon: #70161E;
$green-light: #213C44;
$green-dark: #213E44;
$fancy-orange: #F3633F;
$fontSize: 1.3rem;
$lineHeight: 1.5rem;
=======
$dark: #082E61; 
$dark80: rgba(8, 46, 97, 0.8); 
// $light: #f5dfbb;
$light: #FEF5EB;
>>>>>>> main

// Font sizes
$bannerHeading: 3rem;
$sectionHeading: 2rem;